html,
body {
    height: 100%;
	overflow:hidden;
}

.head{
	height:60px;
	width:100%;
	background:#4cae4c;
	overflow:hidden;
}

.head h1{
	color:#fff;
	font-size:20px;
	font-weight:bold;
	margin:20px;
	padding:0;
}

.send-button{
	margin:10px 0;
}

#help_question{
	border:1px solid #fff;
	border-radius:50%;
	width:25px;
	height:25px;
	font-size:15px;
	display:inline-block;
	text-align:center;
	vertical-align: text-top;
	line-height:25px;
	cursor:pointer;
	float:right;
	margin-right: 100px;
}

.my-custom-class-name-content{
	 background-color: red !important;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
