<?
	use APP\Model\Users;
?>
 
<div class="site-index">
    <div class="body-content">     
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-warning" style="display:none"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="fromUser">Отправитель</label>              
				<?
					echo Phalcon\Tag::select(
						[
							"fromUser",
							Users::find(),
							"using" => ["id", "name"],
							"class" => "form-control",
							"useEmpty"   => true,
							"emptyText"  => "Выберите пользователя 1",

						]
					);
				?>				
                <p class="help-block balance-info"></p>            
            </div>
            <div class="col-md-4">
                <label for="fromUser">Получатель</label>                
				<?
					echo Phalcon\Tag::select(
						[
							"toUser",
							Users::find(),
							"using" => ["id", "name"],
							"class" => "form-control",
							"useEmpty"   => true,
							"emptyText"  => "Выберите пользователя 2",

						]
					);
				?>
                <p class="help-block balance-info"></p>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control amount" name="amount" placeholder="Сумма">            
			</div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success send-button">Отправить</button>            
			</div>
        </div>
    </div>
</div>