<?
	use Phalcon\Tag;
?>
<?= $this->tag->getDoctype() ?>
<html>
	<head>
		<title>Phalcon PHP Framework</title>
		<?
			echo $this->tag->stylesheetLink('assets/css/bootstrap.min.css?v=1');
			echo $this->tag->stylesheetLink('assets/style.css?v=2');
			
			echo $this->tag->javascriptInclude('assets/jquery.min.js?v=1');
			echo $this->tag->javascriptInclude('assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.js?v=1');
			echo $this->tag->javascriptInclude('assets/js/bootstrap.min.js?v=1');
			echo $this->tag->javascriptInclude('assets/main.js?v=1');
		?>
	</head>
	<body>
		<script>
	$(window).on('load', function() {
    $('[data-toggle="tooltip"]').tooltip();   
});

		</script>
		<div class="head">
			<h1>Любой банк <span id="help_question" data-toggle="tooltip" data-placement="bottom" 
			title="
			 В отличии от сервиса нашего конкурента, 
			 вот наш сервис не обязывает своих пользователей авторизовываться, и позволяет пользоваться им без авторизации.
			А историю транзакций записывайте на листочек, ибо хранить информацию на серверах не безопасно.">?</span></h1>
		</div>
		<div class="wrap">
			<div class="container">
				<?php echo $this->getContent(); ?>
			</div>
		</div>
	</body>
</html>